.choose-avatar{

    position:fixed;
    inset:0;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

    display:flex;
    flex-direction:column;

    justify-content:flex-end;
    align-items:center;

}

.avatar-buttons{

    width:100%;

    display:flex;

    justify-content:center;

    gap:120px;

    margin-bottom:110px;

}

.avatar-option{

    cursor:pointer;

}

.avatar-circle{
    position: absolute;

    top: 60%;
    left: 30%;

    width: 80px;
    height: 80px;

    border-radius: 50%;
}

.avatar-confirm{

    width:240px;
    height:55px;

    margin-bottom:45px;

    border:none;

    border-radius:999px;

    background:white;

    color:#111;

    font-size:18px;

    font-weight:bold;

    cursor:pointer;

}

.avatar-confirm:disabled{

    opacity:.35;

    cursor:default;

}