.games-screen{
    position:fixed;
    inset:0;

    background:#1d1d1d;

    display:flex;
    flex-direction:column;

    z-index:99999;

    animation:gamesEnter .25s ease;
}

/* ---------------- HEADER ---------------- */

.games-header{

    height:95px;

    display:flex;
    align-items:center;
    justify-content:center;

    position:relative;

    border-bottom:2px solid rgba(255,255,255,.08);

}

.games-close{

    position:absolute;
    left:15px;

    border:none;
    background:none;

    color:white;

    font-size:28px;

    cursor:pointer;

}

.games-title-logo{

    height:120px;

    object-fit:contain;

}

/* ---------------- USUÁRIOS ---------------- */

.games-users{

    padding:18px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:16px;

    border-bottom:2px solid rgba(255,255,255,.08);

}

.games-users button{

    height:42px;

    border:none;

    border-radius:2700px;

    background:#777;

    color:white;

    font-size:15px;

    cursor:pointer;

}

/* ---------------- PARTE DE BAIXO ---------------- */

.games-bottom{

    display:grid;

    grid-template-columns:2.3fr 1fr;

}

/* ---------------- ESQUERDA ---------------- */

.games-vs{

    margin:18px;

    padding:14px;

    border-radius:22px;

    background:#070b1c;

    border:2px solid rgba(255,255,255,.08);

    backdrop-filter:blur(4px);

    display:flex;

    flex-direction:column;

}

.vs-row{

    display:flex;

    align-items:center;

    justify-content:space-between;

    padding:10px 0;

    border-bottom:1px solid rgba(255,255,255,.10);

}

.circle{

    width:44px;
    height:44px;

    border-radius:50%;

    border:2px solid white;

}

/* ---------------- PLAY ---------------- */

.games-play{

    display:flex;

    align-items:center;

    justify-content:center;

    background:rgb(122,123,123);

    overflow:hidden;

    padding:0;

}

.play-bottom-image{

    display:block;

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:center;

    cursor:pointer;

    transition:transform .2s ease;

}

.play-bottom-image:hover{

    transform:scale(1.02);

}

/* ---------------- BARRA INFERIOR ---------------- */

.challenge-buttons{

    height:65px;

    display:grid;

    grid-template-columns:1fr 1fr;

    border-top:2px solid rgba(255,255,255,.08);

}

.challenge-buttons button{

    border:none;

    color:white;

    font-size:18px;

    cursor:pointer;

}

/* NORMAL */

.challenge-buttons button:first-child{

    background:#5b86f3;

    position:relative;

}

/* RANQUEADA */

.challenge-buttons button:last-child{

    background:#e54f4f;

}

.challenge-buttons button:first-child{

    position:relative;

}

.challenge-buttons button:first-child::after{

    content:"";

    position:absolute;

    top:0.4px;

    bottom:-15px;

    right:0;

    width:2px;

    background:rgba(255,255,255,.08);

}

/* ---------------- ANIMAÇÃO ---------------- */

@keyframes gamesEnter{

from{

opacity:0;

transform:translateY(-20px);

}

to{

opacity:1;

transform:translateY(0);

}

}

/* ---------------- TRAVE DIREITA ---------------- */

.circle-wrapper-right{

    position:relative;

    width:44px;
    height:44px;

}

.trave-direita{

    position:absolute;

    top:47%;
    left:31%;

    transform:translate(-50%,-50%);

    width:120%;
    height:120%;

    object-fit:contain;

    z-index:2;

    pointer-events:none;

}

.circle-wrapper-right .circle{

    position:absolute;

    inset:0;

    z-index:1;

}

/* ---------------- TRAVE ESQUERDA ---------------- */

.circle-wrapper-left{

    position:relative;

    width:44px;
    height:44px;

}

.trave-esquerda{

    position:absolute;

    top:59%;
    left:73%;

    transform:translate(-50%,-50%);

    width:120%;
    height:120%;

    object-fit:contain;

    z-index:2;

    pointer-events:none;

}

.circle-wrapper-left .circle{

    position:absolute;

    inset:0;

    z-index:1;

}

/* ---------------- VS ---------------- */

.vs-image{

    width:62px;

    height:auto;

    object-fit:contain;

    pointer-events:none;

}

.jogadores-direita-image{

    position:absolute;

    top:50%;
    left:42%;

    transform:translate(-50%,-50%);

    width:80px;      /* ajuste depois */
    height:auto;

    z-index:0;

    pointer-events:none;

}

.circle-wrapper-right .circle{

    position:absolute;

    inset:0;

    z-index:1;

}

.trave-direita{

    z-index:2;

}